@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h5>Conheça nossos livros mais emprestados</h6>


<div class="container col">
        <div class="">
            <a class="p-3 border border-left-3" href="">
                <img src="~/images/Fahrenheit451.webp" alt="Fahrenheit">
            </a>
            <div class="">
                <p>Letras</p>
            </div>
        </div>


        <div class="row">
            <a href="">
                <img src="~/images/1984.jfif" alt="">
            </a>
        </div>

        <div class="row">
            <a href="">
                <img src="~/images/Admirável mundo novo.jfif" alt="">
            </a>
        </div>
</div>
        
</div>
