<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/Imagens/logo.png">
    <link rel="stylesheet" href="static/style.css">
    <title>Livro teca</title>
</head>
<body>
    <header>
        <nav class="cabecalho">
            <ul class="lista_cabecalho">
                <li><a href="login.html" target="_blank">Login</a></li>
                <li><a href="cadastro.html" target="_blank">Cadastro</a></li>
                <li><a href="emprestimo.html" target="_blank">Empréstimo</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <p>
            Exemploaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </p>
    </main>

    <footer class="rodape">
        <ul>
            <li>Email de contato: livroteca@gmail.com</li>
            <li>Número para contato: (41) 99461-8345</li>
            <li>Localização: São Paulo Brasil</li>
        </ul>
        <img class="logo" src="static/Imagens/logo.png" alt="Logo do site">
        <p class="legenda">Livro teca, compartilhando sonhos</p>
    </footer>
</body>
</html>